@use '../../../components/userRow/styles/userDataInput.module.scss';

.usersList {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-bottom: 5px;
  height: calc(100% - 47px);
  width: 100%;

  .usersListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 16px;
    background-color: #1f2a62;
    height: 47px;

    .right-side-container {
      display: flex;
      gap: 10px;

      .sorter-container {
        width: 110px;
      }
    }
  }

  .user-list-wrapper {
    height: calc(100% - 65px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 25px;

    &::-webkit-scrollbar {
      width: 6px;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: rgb(190, 190, 190);
    }
    &::-webkit-scrollbar-button {
      display: none;
    }

    .usersListContent {
      height: fit-content;
    }
  }
}
