.usersList {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-bottom: 5px;
  height: calc(100% - 47px);
  width: 100%;

  .usersListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 16px;
    background-color: #1f2a62;
    height: 47px;
  }

  .user-list-wrapper {
    height: calc(100% - 65px);
    overflow: auto;
    padding: 5px 25px;

    .usersListContent {
      height: fit-content;
    }
  }
}
