.string-input {
  // height: 100%;
  font-size: 1rem;
  background-color: #909296;
  color: black;
  border-radius: 5px;
  box-shadow: none;
  text-transform: none;
  outline: none;
  margin: none;
  padding: 5px 4px;
  box-sizing: border-box;
  border: none;

  &:focus::placeholder {
    transition: color 0.1s linear;
    color: transparent;
  }

  &[data-is-not-valid='true'] {
    outline: 1px red solid;
  }
}

.select-container {
  width: 100%;
  height: fit-content;
  font-size: 1rem;
}
